.main{
    background: rgb(33, 30, 30);
    border-radius: 30px;
    border:5px solid green;
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portable{
    display: flex;
}
.count{
    font-size:100px;
    color: white;
    justify-content: center;
}
.act{
    color:white;
}
.warning{
    color: red;
}
.act,.fix,.edit{
    margin: 5px;
    min-width: 100px;
    font-size: 60px;
    border:2px solid rgb(128, 117, 0);
    background-color: blue;
}
.fix{
    color: blue;
    background: rgb(33, 30, 30);
}